

{% block content %}


<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTFD Sign</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Days+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'core/reset.css' %}">
<link rel="stylesheet" href="{% static 'core/sign.css' %}">
</head>
<style>

</style>
<body>
    <img src="{% static 'image/otfd-logo.png' %}" alt="otfd-logo" class="head">
    <img src="{% static 'image/ВХОД.png' %}" alt="ВХОД" class="sign">
     {% csrf_token %}
    <div class="container">
        <input type="email" id="email" class="input-field" placeholder="example@example.com" required>
        <p><input type="password" id="password" class="input-field" placeholder="Enter your password" required></p>
    </div>
    <a href="{% url 'glav' %}" class="btn">
    <button  type="submit" class="btn"></button>
</a>
    <div class="rectangle"></div>
    <img src="{% static 'image/man-sign.png' %}" alt="man-sign" class="man-sign">
    <script src="{% static 'javascript/sign.js' %}"></script>
</body>
</html>
{% endblock %}

