body{
    background-color: white;
}

.otfd-logo {
    margin-top: 28px;
    margin-left: 60px;
}

.header-right {
    margin-top: -60px;
    margin-left: 1080px;
    color: #8493F6;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.header-right a {
    text-decoration: none;
    color: inherit;
}

.header-right a:not(:last-child) {
    margin-right: 47px;
}

.btn-account {
    position: absolute;
    margin-top: 2px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.container {
    margin-top: -60px;
}
.header {
    color: #5E80FF;
margin-top: 120px;
margin-left: 450px;
text-align: center;
font-family: Russo One ;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
width: 832px;
}

.secondtext {
    color: #5E80FF;
text-align: center;
font-family: Didact Gothic;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 832px;
margin-left: 450px;
margin-top: -30px;
}

.textclasses {
    margin-left: 430px;
    position: absolute;
    width: 855px;
    color: #000;
font-family: Didact Gothic;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.rectangle {
    margin-left: 200px;
    width: 1313px;
height: 1236px;
}
.market {
    background: pink;
    
}
.btn {
    width: 281px;
height: 43px;
border-radius: 60px;
background: #FF7EAF;
color: #FFF;
margin-left: 1200px;
margin-top: 20px;
font-family: Didact Gothic;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
cursor: pointer;
}

.scrin1 {
    width: 400px;
    height: 50px;
}
.scrin2 {
    width: 400px;
    height: 70px;
}
.scrin3 {
    width: 400px;
    height: 50px;
}
.scrin4  {
    width: 400px;
    height: 150px;
}
.scrin5  {
    width: 400px;
    height: 100px;
}
.scrin6  {
    width: 400px;
    height: 50px;
}
.scrin7  {
    width: 400px;
    height: 50px;
}